* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15%;
}
.square1 {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    position: relative;
    animation-name: square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes square {
    0% {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    transform: rotate(0);
    }
    100% {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    transform: rotate(360deg);
    }
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: chocolate;
    position: relative;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes circle {
    0% {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: chocolate;
    }
    100% {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: chocolate;
    }
}
.rectangle {
    width: 100px;
    height: 300px;
    background-color: cornflowerblue;
    position: relative;
    animation-name: rectangle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes rectangle {
    0% {
    width: 100px;
    height: 300px;
    background-color: cornflowerblue;
    }
    20% {
    width: 100px;
    height: 300px;
    background-color: rgb(237, 100, 100);
    }
    40% {
    width: 100px;
    height: 300px;
    background-color: rgb(42, 181, 11);
    }
    60% {
    width: 100px;
    height: 300px;
    background-color: rgb(226, 40, 243);
    }
    80% {
    width: 100px;
    height: 300px;
    background-color: rgb(205, 213, 54);
    }
    100% {
    width: 100px;
    height: 300px;
    background-color: rgb(28, 237, 216);
    }
}
.square2 {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    position: relative;
    animation-name: square2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes square2 {
    0% {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    }
    50% {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    transform: rotate(45deg);
    }
    100% {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    }
}